<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">


    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>net.qeema.mvc.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>net.qeema.mvc.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/users/addUser</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SaveUserServlet</servlet-name>
        <servlet-class>net.qeema.mvc.servlet.SaveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUserServlet</servlet-name>
        <url-pattern>/users/saveUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>net.qeema.mvc.servlet.LoginUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


</web-app>